/* variables to easily change color pallete of the page*/
:root {
  --background-color:#13293d;
  --text-color:white;
  --01color:#004E64;

}

* {
  box-sizing: border-box;
}

/*GENERAL STYLES */
body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 60rem;
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
  text-decoration-color:white;
  background-color: #CBF6F0;
}

h1,
h2 {
  padding: 20px;
  text-align: center;
  font-size:
}
h1 { font-size: 2.5em;}
h2 { font-size: 2em;}
h3 { font-size: 1.5em;}
p {
  font-size: 1em;
  margin: 0 1em;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/* HEADER AND NAV STYLES */
header,
footer ul {
  min-height: 30px;
  background-color: var(--01color);
  gap: 1rem;
}

nav ul,
footer ul {
display: flex;
flex-direction: row;
justify-content: center;
gap: 1rem;
background-color: var(--01color);
}

/* Utilities */

.container1 {
  position: relative;
  max-width: 600px;
}

.container2 {
  position: relative;
  max-width: 600px;
  max-height: 200px;
}

.container3 {
  position: relative;
  max-width: 600px;
}

.container-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: lightgrey;
  width: 80%;
  max-height: 80%;
}