/* variables to easily change color pallete of the page*/
:root {
  --background-color:#13293d;
  --text-color:#fff;
  --header-background:darkblue;
}

/*GENERAL STYLES */
body {
  font-size: 21px;
  text-decoration-color: var(--text-color);
  background-color: var(--background-color);
}

h1 {
  font-size: 72px;
  margin-bottom: 10px;
}

h2 {
  font-size: 48px;
  margin-bottom: 10px; 
}

main {
  display: flex;
  flex-wrap: wrap;
}

/* HEADER AND NAV STYLES */
header {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: var(--header-background);
  color: var(--light);
}

nav {
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

nav section > * {
  padding: 25px;
  font-size: 24px;
  width: 250px;
}

footer {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
}
/* Utilities */
.profile-photo {
  height: 400px;
  width: 400px;
  margin-bottom: 25px;
  background-image: url("../images/pexels-vie-studio-4439444.jpg");
  background-size: cover;
  background-position: center;
}

.project-card {
  height: 400px;
  width: 400px;
}

/* applies changes at 992px or smaller for tablets*/
@media screen and (max-width: 992px) {
    h1{font-size: 48px;}
    h2{font-size: 36px;}
    body{font-size: 18;}
   
  }

/* applies style changes at 768px or smaller for phones*/
  @media screen and (max-width: 768px) {
    h1{font-size: 48px;}
    h2{font-size: 36px;}
    body{font-size: 18px;}
    
  }