/* variables to easily change color pallete of the page*/
:root {
  --background-color:#13293d;
  --text-color:white;
  --01color:#004E64;

}

* {
  box-sizing: border-box;
}

/*GENERAL STYLES */
body {
  max-width: 60rem;
  margin: 0 auto;
  font-size: 21px;
  font-family:Arial, Helvetica, sans-serif;
  text-decoration-color:white;
  background-color: #CBF6F0;
}

h1,
h2 {
  padding: 25px;
text-align: center;
}

h2 {
  margin: 0 auto;
}

main,
aside {
[padding: 0 1em;]
  
}
p {
  font-size: 16px;
}

/* HEADER AND NAV STYLES */
header {
  min-height: 30px;
  background-color: var(--01color);
  color: var(--light);
  gap: 1rem;
}

nav ul{
display: flex;
flex-direction: row;
justify-content: center;
gap: 1rem;
}

footer  ul{
  background-color: var(--01color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 30px;
  width: 100%;

  gap: 1rem;

  margin: 0;
  padding: 0;
  list-style: none;
}
footer ul li {
  gap: 1rem;
}

/* Utilities */
/* container for highlighted project */
.container1 {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.container2 {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.container-content {
  position: absolute;
  bottom:0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: lightgrey;
  width: 100%;
  padding: 15px;
}

.profile-photo {
  margin-bottom: 25px;
  background-image: url("placeholer.jpg");
  background-size: cover;
  background-position: center;
}